<table class="table animaltable">
   
    <tr>
        <td>Nom :</td>
        <td>{{animal.nom}}</td>
    </tr>
     <tr>
        <td>Age :</td>
        <td>{{animal.age}}</td>
    </tr>
    <tr>
        <td>Race :</td>
        <td>{{animal.race}}</td>
    </tr>
    <tr>
        <td>Nourriture :</td>
        <td>{{animal.nourriture}}</td>
    </tr>
    <tr>
        <td>Famille :</td>
        <td>{{animal.famille}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editAnimal({id:animal.id})">Edit</a>
</div>